# 01. intro

##단축키

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 싱행 & 아래에 새로운 셀 추가

- ## 주의사항

  1. Apple / apple 은 다르다. (대소문자 주의)
  2. git add . / git add. 도 다르다 (띄어쓰기 주의)
  3. message / massage (철자 주의)

In [ ]:
# ctrl + /은 #이며, #은 주석 처리를 함.

# 1. 변수

변수이름 = 값

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _ 를 이용하여 선언
- 키워드는 사용불가

In [5]:
a = 10 # 등호 자체를 할당의 의미를 가지고 있음

In [6]:
a

10

In [9]:
import keyword # 아래 있는것들은 키워드 임
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

### 1-1 number

In [10]:
a = 10000000

In [11]:
a

10000000

In [14]:
type(a)  # 현제 이 데이터가 어떤 형식(형태)인지 확인하는 함수 / int = 정수

int

In [15]:
b = 1.1

In [16]:
b

1.1

In [19]:
type(b)  # 컴퓨터틑 1 과 0 으로만 모든 데이터를 처리하는데 소수점은 부동소수점으로 처리를 함 / float = 소수점

float

In [20]:
c = 1 -4j

In [21]:
c

(1-4j)

In [24]:
type(c)  # complex : 허수 (복소수)

complex

In [28]:
c.imag   # . (닷, 쩜)은 중요하며 어떤 데이터 안에 있는것을 확인할때 .imag는 허수 부분을 .real은 정수 부분을

-4.0

In [27]:
c.real

1.0

### 1-2 Boolean (Bool) 참/거짓

True, False로 이루어진 타입

In [29]:
a = True

In [30]:
type(a)

bool

In [1]:
b = False

In [2]:
type(b)

bool

### 1-3 None

In [35]:
a = None #아무 값도 없다는 의미 :None (비어있으니 기본적으로 )

In [99]:
type(a)

# NoneTyoe : 값이 아무것도 들어가 있지 않다는것을 의미

str

### 1-4 String

- 문자열은 ' , " 를 이용하여 표현

In [98]:
a = 'hello' #str : 문자열

In [37]:
type(a)

str

In [39]:
b = "world"

In [40]:
type(b)

str

In [102]:
age = input()  # 옆에 * 로 표시되는데 이 의미는 아직 실행중이라는 것 / input은 사용자가 원하는 값을 입력할 수 있음
print(age)     # input에 넣으면 숫자를 넣어도 글자(str)로 받아온다.
print(type(age))

# 셀 실행 순서 칸에 *가 표시 되어있으면 셀이 실행 중이라는 의미
# input : 사용자가 어떤 데이터를 입혁 할 수 있는 기능을 함
# input에 어떤 데이터를 넣든 상관 없이 string으로 인식함 ( 숫자값을 받으려면 형태를 전환해야함)

 123

123
<class 'str'>

In [5]:
print('안녕하세요? '이도형'입니다.')

#안녕하세요와 입니다를 따로 묶어 인식하여 이도형 부분때문에 오류

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1930207405.py, line 1)

In [107]:
print("안녕하세요? '이도형'입니다.")

안녕하세요? '이도형'입니다.

In [45]:
print("안녕하세요? '이도형'입니다.")

안녕하세요? '이도형'입니다.

In [46]:
print('안녕하세요? "이도형"입니다.')

안녕하세요? "이도형"입니다.

In [9]:
print('안녕하세요? \'이도형\'입니다.')
#escape 문자열

안녕하세요? '이도형'입니다.

In [78]:
a = ```
여기는 문자열입니다.
엔터를 쳐서 여러줄을 작성 할 수 있습니다.
```

SyntaxError: invalid syntax (1503986235.py, line 1)

In [59]:
print (a)

hello

In [50]:
print('엔터를 입력해봐요 \n다음줄입니다.'

엔터를 입력해봐요
다음줄입니다.

In [54]:
print('하나', '둘', '셋', end='!')   # end='!' 마지막에 !를 붙여주세요, 라는 의미

하나 둘 셋!

In [58]:
print('하나', '둘', '셋', sep='! ')   # sep='!' 은 처음에서 맨 뒤 앞 까지 !를 붙여주세요, 라는 의미

하나! 둘! 셋

#### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [62]:
age = 20

In [63]:
print('홍길동은 %s 살입니다.' %age)

홍길동은 20 살입니다.

In [66]:
print('홍길동은 {}살입니다.' .format(age))

홍길동은 20살입니다.

In [67]:
print(f'홍길동은 {age}살입니다.')#포멧팅이 되어있는 문자열입니다 를 의미

홍길동은 20살입니다.

## 2. 연산자

### 2-1 산술연산자

In [71]:
a = 2
b = 3

In [70]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b) #** 은 a의 b 승 이라는 의미

3
-1
2
0.5
1

In [75]:
print(a // b)  # a를 b로 나눈 몫
print(a % b)   # a를 b로 나누고 나머지 출력
print(divmod(a,b)) # a를 b로 나눈 목, 나머지 출력

#위에 있는것은 주로 알고리즘 문제를 풀때 사용한다

0
2
(0, 2)

### 2-2 비교 연산자

In [80]:
a = 5
b = 10

In [81]:
print(a > b)
print(a < b)
print(a >= b)
print(a >= b)

False
True
False
False

In [84]:
print(a == b)   # == 같다면, 참
print(a != b)   # != 다르면, 참

False
True

In [88]:
print('hi' == 'hi')  # == 은 숫자, 문자를 비교 할 수 있다
print('Hi' == 'hi')

True
False

### 2-3 논리 연산자

- and : 양쪽 모두 같으면 참, 하나라도 틀리면 거짓 / 양쪽 모두 Ture일때, True를 반환
- or : 양쪽 모두 False일때, False를 반환
- not : 값을 반대로 전환

In [90]:
print(True and True)  # and는 같다면, 참으로 출력 / 틀리면, 거짓으로 출력
print(True and False)
print(False and False)
print(False and False)

True
False
False
False

In [93]:
print(True or True) 
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [94]:
print(True)
print(not True)

True
False

In [116]:
# 단축평가 (and)   1은 참 / 0 은 거짓, 1 이상의 숫자는 참이라고 생각한다
# 단축평가(앞만 보고 연산) and 0뺸 숫자들은 다 true
print(3 and 5)  #앞이 참이기 때문에 뒤에를 안보고 참이라고 생각하고 출력
print(3 and 0)  #앞이 참이기 때문에 뒤에를 안보고 참이라고 생각하고 출력
print(0 and 5)  #앞이 거짓이기 때문에 뒤에를 안보고 거짓이라고 생각하고 출력
print(0 and 0)  #앞이 거짓이기 때문에 뒤에를 안보고 거짓이라고 생각하고 출력

5
0
0
0

In [117]:
# 단축평가(앞만 보고 연산) or 
print(3 or 5) #앞이 true 니깐 바로 앞의 값 출력
print(3 or 0)
print(0 or 5) #앞이 false니깐 뒤에 것으로 출력
print(0 or 0)

3
3
5
0

### 2-3 복합연산자

In [11]:
a = 1
b = 2

In [14]:
a = a + 1

In [108]:
#위에 있는것을 지금 아래와 같이 치환 할 수 있다
a += b  # a에다가 1을 더해서 할당해주세요.
a -+ b
a *= b
a /= b
a //= b
a %= b
a **= b

### 2-4 기타 연산자

In [109]:
a = 'hi'
b = 'hello'

In [112]:
a + b 
#concatenation 양쪽 문자를 연결할때, 숫자는 더해지지만 글자는 합쳐진다

'hihello'

In [117]:
a = [1, 2, 3]
b = [4, 5, 6]
# [] 대괄호로 묶여 있는 것은 list(리스트)라고 부른다

In [118]:
a + b

[1, 2, 3, 4, 5, 6]

In [17]:
# containment 안에 들어있나요? 라고 물어보는것
# in 은 애플 안에 a가 있나요 물어보는 것
print('a' in 'apple')
print('z' in 'apple')

True
False

In [122]:
print(1 in [1, 2, 3])
print(10 in [1, 2, 3])

#list도 확인 할 수 있다

True
False

In [18]:
# identity 서로 같은지 확인하는 것
# is 는 앙쪽이 같은지 묻는다.
a = 1
b = 1
print(a is b)
print(id(a))
print(id(b))

True
140724441047848
140724441047848

In [132]:
# identity 서로 같은지 확인하는 것
# 데이터는 같지만 위치가 틀리다고 인식해서 거짓으로 출력 
# -5 ~ 256 까지는 미리 같은 위치에 저장해 두지만 이 범위 밖은 미리 저장을 해 두지 않아서 위치가 틀림 그래서 거짓 출력
# 완벽하게 같은 것만 참으로 출력한다
a = 123123
b = 123123
print(a is b)
print(id(a))
print(id(b))

False
2264164621168
2264164621040

### 연산자의 우선 순위

0. ()를 통해 그룹 지정
1. **
2. 산술연산자 ( * , / )
3. 산술연산자 ( + , - )
4. 비교연산자, in, is
5. not
6. and
7. or

In [133]:
-3 ** 4
# 우선 순위 때문에 3에 4승이 먼저 계산된다음에 - 가 붙었다

-81

In [134]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형변환
### 3-1 암시적 형변환

In [20]:
a = True
b = False
c = 1

In [21]:
print(a + c)
print(b + c)

2
1

In [4]:
int_num = 3
float_num = 3.3
complex_num = 1 + 3j

In [5]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

### 3-2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, float 등을 string으로 변환
- bool() : int, list 등을 boolean으로 변환
- -

In [6]:
a = 1
b = '번'

In [8]:
print(a + b) # 숫자와 문자는 연결이 되지 않는다 그냥하면

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
print(str(a) + b)  
# int(숫자)를 str(a)로 만들면 숫자가 문자로 변경된다. 
# 반대로 str(문자)를 int(a)로 만들면 문자가 숫자로 변경된다.

3번

In [11]:
a = '3'

In [12]:
type(int(a))

int

In [15]:
a = "3.3"

In [17]:
type(int(a))
# 십진수 데이터만 변환이 가능하다 즉 정수만 가능하다, 왜냐 3.3은 실수이기 때문에

ValueError: invalid literal for int() with base 10: '3.3'

In [20]:
type(float(a))
# 실수를 변경하기 위해서는 float(a) 로 변경

float

In [24]:
a = 1
b = 0
#데이터가 있으면 참, 데이터가 없거나 비여있으면 거짓

In [22]:
bool(a)

True

In [23]:
bool(b)

False

In [25]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (※주의:순서대로 나열되었다는 것은 정렬된것과 다르다)

1. 리스트
2. 튜플
3. 레인지
4. 문자열

### 4-1 List (배열)

- 선언 : 변수이름 = [value1, value2, value3 ...] # value에는 int, str, boolean이 들어갈수 있다.
- 접근 : 변수이름[index]

  리스트는 0,1,2,3,4~ 로 시작을 하며 0이 첫번째이고 1이 두번째이다.
  리스트는 location을 통해 수정이 가능

In [23]:
L = []
print(1)
print(type(L))

1
<class 'list'>

In [38]:
location = ['서울', '대구', '대전']
print(location)
print(location[1])
print(location[0])
print(location[2])
location[1] = '부산'  #로케이션을 통해 1번 데이터를 대구에서 부산으로 변경
print(location)

['서울', '대구', '대전']
대구
서울
대전
['서울', '부산', '대전']

In [33]:
a = 1
print(a)
a = 'hi'
print(a)

1
hi

### 4.2 Tuple(튜플)

- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]

- 튜플은 소괄호로 선언을 하고 대괄호로 접근을 하며, 리스트와 유사하지만 수정 불가능(immitable)하다.

In [35]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [24]:
t[2] = 5  # 튜플은 한번 값을 설정하면 수정이 불가능하기 때문에 에러가 뜸

NameError: name 't' is not defined

In [40]:
x, y = (1, 2)
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4-3 Range (범위)

- range(n) : 0 부터 n-1 까지 범위
- range(n, m) : n 부터 m 까지 범위
- range(n, m, s) : n 부터 m-1까지 +s만큼 증가하는 범위 / s는 간격을 의미 그래서 n 부터 m 까지의 숫자를 표시하는데 s의 간격으로 증가해서 표시

In [41]:
a = range(1)
print(type(a))

<class 'range'>

In [42]:
a = range(10)
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
a = range(5, 15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [45]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [46]:
a = range(-1, -10, -1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4-4 String

기본 데이터 구조 참고

### 4-5 시퀀스에서 활용가능한 연산/함수

In [54]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range = range(1, 100)
my_string = '12345'

In [48]:
# indexing : 인덱스 접근을 했다
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [50]:
# slicing a ~ b까지의 범위를 지정하는거
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [57]:
# slicing (k간격으로)
my_range[2:50:2]

range(3, 51, 2)

In [58]:
list(my_range[2:6:2])

[3, 5]

In [60]:
# in으로 있는지 확인
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string)  #애는 문자열이여서 ''  처리

True
True
True
True

In [62]:
# not in 은 없는지 확인
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1'not in my_string)  #애는 문자열이여서 ''  처리

False
False
False
False

In [64]:
# concatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [66]:
# *
print([0] * 10)
print([[0] * 10] *10)  #표만들때 이용

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [71]:
print(len(my_list))
# len길이를 출력해주세요

5

In [72]:
print(min(my_list))

1

In [73]:
print(max(my_list))

5

## 5. 시퀀스 데이터가 아닌 자료구조

### 5-1 set

수학에서 사용하는 집합과 동일하게 처리 ( 중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3 ... }

시퀀스데이터는 순서가 있는 애들이며
시퀀스데이터가 아닌 애들은 순서가 없어서 순서로 접근을 못함

In [82]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [86]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b) # 합집합
print(my_set_a & my_set_b) # 교집합

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [87]:
my_list = [1, 1, 1, 1, 1, 1, 1, 1, 2, 3, 4, 5, 6, 7]  # 중복된 값을 정리하고 싶으면 set(집합의 형식으로 변환)으로 변경 했다 다시 리스트로 변경 
print(list(set(my_list)))

[1, 2, 3, 4, 5, 6, 7]

### 5-2 Dictonary

- 선업 : 변수이름 = {key1: value1, key2: value2, ...}
- 접근 : 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져있다 # 하나만 이용한다면 list추천
- key에는 immutable한 모든것을 사용가능 (불변값 : string, integer...)
- value에는 모든 데이터 가능 (list,dictionary도 가능)

In [91]:
my_dict = {'서울': '02', '경기' : '031'}
my_dict['서울']

'02'

In [92]:
dict_a = {
    'name' : "changhee",
    'location': 'seoul',
    'location': 'seorl2',
}

In [93]:
print(dict_a)

{'name': 'changhee', 'location': 'seorl2'}

In [94]:
dict_a.keys()

dict_keys(['name', 'location'])

In [95]:
dict_a.values()

dict_values(['changhee', 'seorl2'])

# 데이터 타입

1. Number
2. Boolean
3. String

# 자료구조

- 시퀀스 자료형

1. [List] : mutable -> 수정이 가능  ※주로 많이 사용함
2. (Tuple) : immutable
3. range() : immutable
4. 'string' : immutable            ※주로 많이 사용함

- 시퀀스가 아닌 자료형

1. {set} : mutable
2. {dict: ionary} ; mutable         ※주로 많이 사용함

In [118]:
result = divmod(5, 2)

In [121]:
print('몫 : ', result[0])  # [0] 0번째 위치에 있는 인덱스 출력
print('나머지: ', result[1]) # [1] 1번째 위치에 있는 인덱스 출력

몫 :  2
나머지:  1