## 함수 (function)

In [2]:
height = 10
width = 20

height2 = 50
width2 = 80
#직사각형의 둘레는 ***, 면적은 *** 입니다.

area = height * width
perimeter = (height + width) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

area = height2 * width2
perimeter = (height2 + width2) * 2
print(f'직사각형의 둘레는 {perimeter}, 면적은 {area}입니다.')

직사각형의 둘레는 60, 면적은 200입니다.
직사각형의 둘레는 260, 면적은 4000입니다.

## 함수의 선언과 호출

- 함수의 선언
```python 
def func_name(parameter1, parameter2, ....):
    code1
    code2
    .
    .
    .
    return value
    
```

- 함수의 호출(실행)
```
func_name(parameter1, parameter2)
```

In [3]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    print(f'직사각형의 둘레는 {perimeter}, 면접은 {area} 입니다.')

In [6]:
rectangle(10,30)

직사각형의 둘레는 80, 면접은 300 입니다.

In [9]:
#dir(__builtins__)
#파이썬에서 미리 만들어진 함수

In [8]:
max(1, 5)

5

In [ ]:
#두개의 정수를 받아서 큰 수를 출력
def my_max():
    pass

In [3]:
def my_max(num1, num2):
    if num1 > num2:
        # 1이 더 큰 경우
        #pass
        print(f'{num1}이 더 큽니다.')
    elif num1 < num2:
        # 2가 더 큰 경우
        print(f'{num2}이 더 큽니다.')
    else:
        print('두 수가 같습니다.')

In [4]:
my_max(1, 4)

4이 더 큽니다.

In [5]:
my_max(4313, 3324)

4313이 더 큽니다.

In [6]:
result = my_max(5, 5)
print(result)

두 수가 같습니다.
None

## 함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 졸료
- 만약 return이 없다면 None을 자동으로 반환
- return은 오직 하나의 객체만 반환합니다.
- 변수에 할당이 가능함

In [25]:
def my_max2(num1, num2):

    #return 'hello' #위에 리던이 있으면 여기서 끝남. 그래서 위에 있으면 안됨.
    
    if num1 > num2:
        return num1
    elif num1 < num2:
        return num2
    else:
        return 0

In [26]:
result = my_max2(1, 2)
print(f'{result}가 더 큽니다.')

2가 더 큽니다.

In [28]:
def my_list_max(list_a, list_b):
    if sum(list_a) > sum(list_b):
        return list_a
    else:
        return list_b

In [30]:
my_list_max([10, 11], [11, 12])

[11, 12]

In [32]:
def my_list_max(list_a, list_b):
    if sum(list_a) > sum(list_b):
        return list_a, 123
    else:
        return list_b, 123

In [2]:
my_list_max([10, 11], [11, 12])
# 뒤에 있는 123을 튜플로 묵어버린다

NameError: name 'my_list_max' is not defined

7월 28일 금요일

## 함수의 인수

###  위치 인수

기본적으로 함수는 인수의 위치로 판단합니다

In [2]:
def cylinder(r, h):  # 원기둥의 부피를 계산하는 함수
    return 3.14 * r**2 * h

print(cylinder(10, 5))
print(cylinder(5, 10))

1570.0
785.0

## 기본값

```python
    def func(p1=v1):
        return v1
```

In [13]:
def greeting(name):
    return f'{name}님 반갑습니다.'

print(greeting('창희'))

창희님 반갑습니다.

In [14]:
def greeting(name):
    return f'{name}님 반갑습니다.'

print(greeting())  #가로 안에 데이터가 들어가 있어야 하는데 없어서 실행이 안됨

TypeError: greeting() missing 1 required positional argument: 'name'

In [15]:
def greeting(name='익명'):  # 아래 아무것도 안들어가 있으면 데이터에 있는 기본인자가 출력이 된다.
    return f'{name}님 반갑습니다.'

print(greeting())

익명님 반갑습니다.

In [60]:
def greeting(name='익명', age):   
    '''
    기본인자가 아닌 age가 기본 인자 뒤에 있어서 실행이 안됨, 위치 함수를 먼저 적고 그 다음에 기본인자를 적는다
    why? name은 데이터가 들어와도 되고 들어오지 않아도 되는 확율적으로 경우의 수가 0, 1이 정해져있는거 뒤에 오면 해깔려 하기 때문에
    순서를 위치 함수를 먼저 쓰고 다음에 기본 값을 작성
    '''
    return f'{name}님은 {age}입니다.'

SyntaxError: non-default argument follows default argument (2475034030.py, line 1)

In [61]:
def greeting(age, name='익명'):  # 위치함수 age를 먼저 쓰고  기본함수 name을 쓴다.
    return f'{name}님은 {age}살 입니다.'

print(greeting(10,'홍길동'))

홍길동님은 10살 입니다.

In [62]:
print(greeting(20))

익명님은 20살 입니다.

...24...

### 키워드 인자
함수를 호출(실행)할때 내가 원하는 위치에 직접적으로 특정인자를 전달 가능

print(*objects, 
      sep=' ',  사용시 각 인자 사이사이에 직접적으로 특정 단어,숫자를 넣을 수 있음
      end='\n', 사용시 마지막 인자에 직접적으로 특정 단어,숫자를 넣을 수 있음
      file=None, 
      flush=False)

In [63]:
def greeting(age, name='익명'): 
    return f'{name}님은 {age}살 입니다.'

print(greeting(10,'홍길동'))
#모든 변수들은 앞에서 부터 순서대로 진행

홍길동님은 10살 입니다.

In [95]:
#만약에 홀길동을 먼저 나오게 하고 싶으면 직접 적으로 위치를 알려준다.
print(greeting(name='홍길동', age=10,))

홍길동님은 10살 입니다.

In [96]:
print('안녕')
print('안녕', '하세요', sep='!', end='!?')

안녕
안녕!하세요!?

### 가변 인자 리스트
```python
    def func(*params):  # 여러가지 인자들을 하나의 값으로 묶어서 사용 할 수 있게 해줌
        pass

```

In [7]:
def my_print(*words):
    print(words)
    print(type(words))

my_print('hi', 'hello')  # 인자가 몇게가 들어오든 튜플로 묶어서 처리함

('hi', 'hello')
<class 'tuple'>

(튜플)

### 연습문제

In [10]:
#
def my_max():
    pass

In [11]:
my_max(1, 2, 3, 4, 5)

TypeError: my_max() takes 0 positional arguments but 5 were given

In [12]:
max(1, 2, 3, 4, 5)

5

In [13]:
#my_max(1, 2, 3, 4, 5) #에서 가장 큰 숫자를 뽑아내라

In [19]:
def my_max(*num):
    result = 0

    for k in num:
        if result < k:
            result = k

        return result

In [22]:
def my_max(*numbers): #들어오는 데이터를 하나로 묶어서 *numbers로 받음
    result = 0  # 가장 큰 값을 뽑기 위해서

    for number in numbers:  # 1~5까지 순서대로 확인
        if result < number: # re 와 num을 비교해서 더 큰거를 저장해라
            result = number

    return result

In [23]:
my_max(1, 2, 3, 4, 5)

5

In [24]:
max(1, 2, 3, 4, 5)

5

In [29]:
def my_max(*numbers):
    result = numbers[0]

    for number in numbers:
        if result < number:
            result = number

    return result

In [30]:
print(my_max(1, 2, 3, 4, 5))
print(my_max(-1, -2, -3, -4))

5
-1

In [28]:
max(-1, -2, -3, -4, -5)

-1

### 정의되지 않은 키워드 인자 처리하기

```python
def func(**kwargs):
    pass
```

In [1]:
info = {
    'name': 'hong',
    'age': 20,
}

print(info)

{'name': 'hong', 'age': 20}

In [2]:
info = dict(name='hong', age=20)
print(info)

{'name': 'hong', 'age': 20}

In [4]:
def fake_dict(**kwargs):
    print(kwargs)
    print(type(kwargs))

fake_dict(korean='안녕', english='hello')

{'korean': '안녕', 'english': 'hello'}
<class 'dict'>

In [6]:
def fake_dict(**kwargs):  #**kwargs 되어 있으면 여러가지 임의의 데이터를 넣어도 되는구나
    for key, value in kwargs.items():
        print(f'{key}는 {value}입니다.')

fake_dict(korean='안녕', english='hello')

korean는 안녕입니다.
english는 hello입니다.

### 딕셔너리를 인자로 넣기(unpacking)

In [9]:
#회원 가입 기능을 만든다고 가정

def sing_up(username, password, password_confirmation):
    if password == password_confirmation:
        print(f'{username}님 회원가입이 완료했습니다.')
    else:
        print(f'비밀번호가 일치하지 않습니다.')

sing_up('lee', 'qwe123', 'qwe1234')

비밀번호가 일치하지 않습니다.

In [16]:
#내가 넣어야 되는 이아디와 비밀번호를 딕션너리로 만들어 넣음

my_account = {
    'username': 'asdee',
    'password': 'qwddd',
    'password_confitmation':'qwddd',

}

sign_up(**my_account)

NameError: name 'sign_up' is not defined

...16...

### Lambda 표현식

```python
    lambda parameter: expression

```

- 이름이 없는 함수를 만들 수 있다, 즉, 이름이 없이 바로 실행 할 수 있음

In [35]:
(lambda a, b: a + b)(1, 2)

#앞에 람다 부분에 소가로를 한 이유는 함수를 정의 해주고 뒤에 있는 부분은 값을 넣어준것

3

In [37]:
def my_sum(a, b):
    return a + b

my_sum(1, 2)

3

In [39]:
my_sum('1' + 2)

#python은 함수에 어떤것을 넣고 어떤 
#함수 어노테이션  4.8.8

TypeError: can only concatenate str (not "int") to str

### 타입 힌트

In [40]:
def my_sum(num1, num2):
    return num1 + num2

my_sum(1, 2)

3

In [45]:
def my_sum(num1: int, num2: int) -> int: #각각에 type를 적어 줌 , type이 잘 못 되었다고 실행을 방해하지는 않음
    return num1 + num2

my_sum(1, 2)

3

In [46]:
my_sum('1' + 2)

TypeError: can only concatenate str (not "int") to str

In [47]:
def my_sum(num1: int, num2: int) -> int: #각각에 type를 적어 줌 , type이 잘 못 되었다고 실행을 방해하지는 않음
    '''
    두수의 합을 구하는 함수 입니다
    매개변수 num1, num2를 받아서 num1 + num2를 리턴합니다.
    '''
    return num1 + num2

my_sum(1, 2)

3

### 이름 공간 (scope)

파이썬에서 사용되는 이름들은 이름공간(namespace)에 저장되어 있습니다.

- L (Local scope) : 정의된 함수 내부
- E (Enclosed scope) : 상위 함수
- G (Global scope) : 함수 밖의 변수 혹은 import 된 모듈
- B (Built-in scope) : 파이썬이 기본적으로 가지고 있는 함수 혹은 변수

나랑 가까운것부터 찾는다.

In [54]:
str = '123'

In [55]:
print(str)

123

In [56]:
str(789)
#789라는 숫자를 글짜로 변환해줘 -> 에러 발생

TypeError: 'str' object is not callable

In [57]:
del str
#변수를 지워주는 명령어

In [58]:
a = 1
def localscope(a): #밖에 있는 a라는 변수 보다 안에 있는 매개변수가 더 중요하다.
    # a = 5
    print(a)

localscope(5)

5

In [70]:
num = 10
def scope():
    num = 20
    print(num)
    '''
    20은 함수 내부에 있기 때문에 밖에 이는 10보다 먼저 인식함
    '''

scope()

20

In [71]:
num = 10
def scope():
    global num  # 전역 변수를 수정 할때 사용
    num = 20
    print(num)

scope()
print(num)  #3t/5m

20
20

## 재귀 (recursivew)

재귀 함수는 함수 내부에서 자기 자신을 호출하는 함수를 의미한다.
알고리즘 문제를 풀떄 사용 한다.

In [72]:
# 팩토리얼 ( 1 * 2 * 3 * ... * n = n!)
def fact(n):
    pass

fact(5)

연습)
    while문, for문을 통해서 1부터 5까지 곱하시오

In [78]:
def fact(n)
    result = 1

    while n > 1:
        result = result * n
        # result *= n 위와 같은 코드
        n = n - 1
        #n -= 1 위와 같은 코드

     return result

fact(5)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 10)

In [ ]:
3t/27

1! = 1
2! = 1 * 2 = 1! * 2
3! = 1 * 2 * 3 = 2! * 3

10! = 9! * 10
9! = 8! * 9

fact(5)를 호출한다는거은
fact( fact(4) * 5 )
fact( fact(fact(fact(3) * 4 ) * 5 )

In [81]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return factorial(n-1) * n
        # 10! = 9! * 10 = ... = 1! = 0! * 1

factorial(5)

120

In [83]:
def test_erroe(n):
    return test_error(N)

#test_error(1) 무한히 돌기 때문에 주석 처리

### 피보나치 수열

```
F(0) = F(1) = 1
F(n) = F(n-1) + F(n-2)
```

In [33]:
#반복문

def fib_loop():
    result = [1, 1]

    for i in range(1, n):
        end1 = result[-1] # 뒤에서 부터 접근
        end2 = result[len(result)-2]  # 앞에서 부터 접근
        fib_num = end1 + end2

        result.appennd(fib_num)

    return result[-1]

fib_loop(7)

TypeError: fib_loop() takes 0 positional arguments but 1 was given

In [32]:
# 재귀
def fib_rec(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib_rec(n-1) + fib_rec(n-2)

fib_rec(7)

21

In [22]:
a = [1, 2, 3, 4, 5]
a[1]

2

In [23]:
a[-4]

2

In [92]:
#while반복문
def fib_loop(n):
    result = []
    a, b = 1, 1
    while a < n:
        a, b = b, a + b
        result.append(a)
        return a

fib_loop(7)

1

In [89]:
#for 반복문
def fib_loop(n):
    result = []
    a, b = 1, 1,
    for i in range(n):
        result.append(a)
        a, b = b, a + b
    return result[-1]

fib_loop(7)

13

In [94]:
#재귀 함수
def fibo_rec(n):
    result = []
    if n <= 2:
        number = 1
    else:
        number + fibo_rec(n-1) + fibo_rec(N-2)
        return number

fibo_rec(7)

UnboundLocalError: cannot access local variable 'number' where it is not associated with a value