In [1]:
print('hello')

hello

In [2]:
''.join([1, 2, 3, 4])

TypeError: sequence item 0: expected str instance, int found

##1. 문자열 메소드

In [3]:
a = 'hello my name is lee do hyung'

In [4]:
a[0]   # 이튜터블한 것이라 수정이 불가능하다

'h'

In [5]:
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [20]:
a.capitalize()

'Hello my name is lee do hyung'

In [21]:
print(a)

hello my name is lee do hyung

In [23]:
a.title()  # 단어 시작마다 대문자로 변경을 해준다

'Hello My Name Is Lee Do Hyung'

In [27]:
a.upper()

'HELLO MY NAME IS LEE DO HYUNG'

In [28]:
a.lower()

'hello my name is lee do hyung'

In [31]:
#''.join(iterable)
my_list = ['hi', 'my', 'name']
''.join(my_list)

'himyname'

In [33]:
#.replace(old, new[, count])  대괄 호는 선택적인 함수 있어도 되고 없어도 되는것
'wooooooooooooooooow'.replace('o', '!')

'w!!!!!!!!!!!!!!!!!w'

In [34]:
'wooooooooooooooooow'.replace('o', '!', 3)

'w!!!oooooooooooooow'

In [43]:
# . strip()   비여있는 공백을 지운다
# . strip([chars]) 
my_string = '      hello\n      '
my_string.strip()
print(my_string)
print(my_string.strip())

my_string2 = ' hihihihihihihihihihihellohihihihihihi'
my_string.strip('hi')

      hello

hello

'      hello\n      '

In [48]:
my_string2 = 'hihihihihihihihihihihellohihihihihihi'
my_string.strip('hi')
print(my_string2.strip('hi'))
print(my_string2.lstrip('hi'))
print(my_string2.rstrip('hi'))

ello
ellohihihihihihi
hihihihihihihihihihihello

In [54]:
# .find(x)
a = 'apple'
print(a.find('p'))
print(a.find('p'))  # p의 갯수를 찾을꺼면 count, a에 들어가는 문자를 리스트롤 만드로 싶으면 for문
print(a.find('z'))

1
1
-1

In [56]:
# for char in range(len(a)):
#     if 'p' == a[i]:
#         print(i)

In [52]:
# . index(x)
a = 'apple'
a.index(a.index('p'))
a.index(a.index('z'))

TypeError: must be str, not int

In [58]:
# split(x) 문자 열을 나눌떄 사용
a = 'my name is lee'
a.split()

['my', 'name', 'is', 'lee']

In [60]:
a = 'my_name_is_lee'
a.split('_')

['my', 'name', 'is', 'lee']

In [65]:
# .count()'
'wooooow'.count('o')

5

## 2. 리스트 메소드

In [92]:
numbers = [1, 2, 2, 5, 2, 1, 6, 2, 4, 4]

In [77]:
# .append(x) 데이터를 추가한다, 리스트는 수정이 가능하며 apennd는 원본 자체를 수정해준다
numbers.append(10)
print(numbers)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10]

In [78]:
# .extend(iterable)
a = [99,100]
numbers.extend(a)
print(numbers)
print(numbers + a)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100]
[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100, 99, 100]

In [79]:
# insert(idx, x)  내가 원하는 위치에 데이터를 넣을때 사용
numbers.insert(3, 3.5)
print(numbers)

[1, 2, 2, 3.5, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100]

In [80]:
# remove(x)
numbers.remove(3.5)
print(numbers)

[1, 2, 2, 5, 2, 1, 6, 2, 4, 4, 10, 99, 100]

In [84]:
# . pop([idx])  idx값을 적으면 그 위치에 있는 데이터를 지우고, 안 적으면 맨 뒤에 있는 데이터 부터 삭제 된다
numbers.pop(0)
print(numbers)

[2, 5, 2, 1, 6, 2, 4, 4, 10]

In [90]:
# .sort()
numbers.sort()
print(numbers)
numbers.sort(reverse=True)  # 오름 차순으로 정렬이 됨
print(numbers)

[1, 2, 2, 2, 4, 4, 5, 6, 10]
[10, 6, 5, 4, 4, 2, 2, 2, 1]

In [97]:
# . reverse() 데이터를 역순으로 만들때
print(numbers)
numbers.reverse()
print(numbers)
numbers = numbers[ : : -1 ]  # numbers = numbers[0: -1 : -1] 앞에는 안보이지만 0, -1 이 들어가 있는것이다
print(numbers)

[4, 4, 2, 6, 1, 2, 5, 2, 2, 1]
[1, 2, 2, 5, 2, 1, 6, 2, 4, 4]
[4, 4, 2, 6, 1, 2, 5, 2, 2, 1]

## 2.1 list copy

In [98]:
origin_list = [1, 2, 3]
copy_list = origin_list

In [99]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [100]:
copy_list[0] =100

In [101]:
print(origin_list)
print(copy_list)

[100, 2, 3]
[100, 2, 3]

In [105]:
a = [1, 2, 3]
b = a[ : ]  # 0번 부터 끝까지라는 의미
b = list(a)

b[0] = 100

print(a)
print(b)

[1, 2, 3]
[100, 2, 3]

In [106]:
a = [1, 2, [3, 4]]
b = a[:]

b [2][0] = 100

print(a)
print(b)

[1, 2, [100, 4]]
[1, 2, [100, 4]]

In [107]:
import copy  # 복사
a = [1, 2, [3, 4]]
b = copy.deepcopy(a)

b[2][0] = 100

print(a)
print(b)

[1, 2, [3, 4]]
[1, 2, [100, 4]]

## 2.2 list comprehension

In [108]:
numbers = list(range(1, 11))

In [109]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [113]:
# [1, 8, 27, .... 1000]
result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [119]:
result2 = [number ** 3 for number in numbers]
result3 = [number * 3 for number in numbers]
# 리스트 안에 for 문을 쓸 수 있다. 앞에 다가는 어떤 데이터를 넣을지를 적어주면 된다
print(result2)
print(result3)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [122]:
# 짝수만 고르기
# 반복문 버전
even_list = []
for i in numbers:
    if i % 2 == 0:
        even_list.append(i)

print(even_list)

[2, 4, 6, 8, 10]

In [124]:
# 리스트 컴프레션 버전
even_list2 = [i for i in numbers if i % 2 == 0]
# 1번째로 for문 먼저 실행하고 2번째로 if문 실행 마지막 3번째로 i 실행
print(even_list2)

[2, 4, 6, 8, 10]

In [133]:
words = 'my name is changhee'
vowels = 'aeiou'

# => my nm s chngh
print(words)

my name is changhee

In [135]:
# 1. for 문 버전
result = []
for char in words:
    #print(char)
    if char not in vowels:  # 포함 되어 있지 않는것을 찾느것이기때문에 not in 
        result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'c', 'h', 'n', 'g', 'h']
my nm s chngh

In [140]:
# 2. list comprehesion 버전
result2 = [char for char in words if char not in vowels]
print(result2)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'c', 'h', 'n', 'g', 'h']
my nm s chngh

In [141]:
result2 = [char.upper() for char in words if char not in vowels]
print(result2)
print(''.join(result))

['M', 'Y', ' ', 'N', 'M', ' ', 'S', ' ', 'C', 'H', 'N', 'G', 'H']
my nm s chngh

## 3. 딕셔너리 메소드

In [150]:
info = {
    'name' : 'changhee',
    'location': 'seoul',
}

In [151]:
info['name'] = 'kim'
print(info['name'])

kim

In [158]:
# .pop(key[, default])
print(info.pop('location', 'None'))
print(info)

None
{'name': 'kim'}

In [159]:
# .update(key[, default])
print(info.update(name='changhee'))
print(info)

None
{'name': 'changhee'}

In [160]:
# .pop(key[, default])
print(info.get('name'))
print(info.get('school', '123'))
#print(info['school'])  # 대괄호로 할때는 데이터가 없으면 error가 뜸

changhee
123

## 3.1 dict comprehension

In [163]:
# {1: 1, 2: 8, 3:27}

In [165]:
#for
cube_dict = {}
for i in range(1, 4):
    cube_dict[i] = i ** 3
print(cube_dict)

{1: 1, 2: 8, 3: 27}

In [166]:
# comp
cube_dict2 = { i: i **3 for i in range(1, 4)}
print(cube_dict2)

{1: 1, 2: 8, 3: 27}

In [180]:
#
dust = {
    '서울':  100,
    '대구': 30,
    '대전': 10,
    '부산': 80,
    '광주': 50,
}
# =>
# resutl = {
#     '서울':  100,
#     '부산': 80,
#     '광주': 50,
# }

In [181]:
# #1. for문
# result = []
# for i in dust:
#     #dust[i]
#     if i in i >50:

# print(result)

In [185]:
for k, v in dust.items():
    if v >=50:
        result[k] = v

print(result)

TypeError: list indices must be integers or slices, not str

In [184]:
#2 comp문
result2 = {k: v for k, v in dust.items() if v >= 50}
print(result2)

{'서울': 100, '부산': 80, '광주': 50}

In [186]:
#2 comp문
result2 = {k: '나쁨' for k, v in dust.items() if v >= 50}
print(result2)

{'서울': '나쁨', '부산': '나쁨', '광주': '나쁨'}

## 세트 메소드

In [187]:
#순서가 없는 집합

In [188]:
fruits = {'apple', 'banana', 'melon'}

In [190]:
# .add(x)
fruits.add('watermelon')
print(fruits)
fruits.add('watermelon')
print(fruits)  # 중복된 데이터가 없기 때문에 1개만 추가한다

{'melon', 'watermelon', 'banana', 'apple'}
{'melon', 'watermelon', 'banana', 'apple'}

In [193]:
# .update()
fruits.update('grape')
print(fruits)
fruits.update({'orange', 'pear'})
print(fruits)

{'melon', 'n', 'apple', 'watermelon', 'a', 'r', 'e', 'o', 'g', 'p', 'banana'}
{'melon', 'n', 'apple', 'watermelon', 'a', 'r', 'pear', 'orange', 'e', 'o', 'g', 'p', 'banana'}

In [194]:
 # .remove()
fruits.remove('orange')
print(fruits)

{'melon', 'n', 'apple', 'watermelon', 'a', 'r', 'pear', 'e', 'o', 'g', 'p', 'banana'}

In [199]:
# .pop() # 들어 있는 집합에서 무작위로 빠짐
fruits.pop()
print(fruits)

{'r', 'pear', 'e', 'o', 'g', 'p', 'banana'}

## 5. map(), zip(), filter()

## 5.1 map()
```
map(function, iterable)
```

In [200]:
a = [1, 2, 3]

number_str = map(str,a)
print(number_str)
print(list(number_str))

<map object at 0x000001D7B103AAD0>
['1', '2', '3']

In [201]:
def cube(x):
    return x ** 3

In [203]:
#for문을 활용하여 모든 item에 cube함수 실행
result = []
for i in a:
    result.append(cube(i))
print(result)

[1, 8, 27]

In [204]:
result2 = map(cube, a)
print(list(result2))

[1, 8, 27]

numbers = list(map(int, input().split()))
print(numbers)

## 5.2 Zip

In [211]:
a = [1, 2, 3]
b = [100, 200, 300]

In [212]:
result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x000001D7B159DA80>
[(1, 100), (2, 200), (3, 300)]

## Filter
```
    filter(function, iterable)
```
filter에 들어가는 funtion T/F를 반환해야 합니다.

In [213]:
def is_odd(x):
    # if  x% 2 == 1
    # return True
    # else:
    # return False
    return bool(x % 2)

In [215]:
numbers = [1, 2, 3, 4, 5]
result = filter(is_odd, numbers)
print(result)
print(list(result))

<filter object at 0x000001D7B103B370>
[1, 3, 5]