## Error

1. syntax error

In [ ]:
if True:
    pass
else

In [1]:
if True print('hello')

SyntaxError: invalid syntax (3421040245.py, line 1)

2. exception

In [2]:
print(5/0)

ZeroDivisionError: division by zero

In [3]:
print(my_name)

NameError: name 'my_name' is not defined

In [6]:
print(1 + '1')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [10]:
import random

In [15]:
random.sample([1, 2 ,3 ,4 ,5])

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [17]:
random.sample([1, 2 ,3 ,4 ,5], 2, 2, 2, 2, 2)

TypeError: Random.sample() takes 3 positional arguments but 7 were given

In [18]:
int('3.5')

ValueError: invalid literal for int() with base 10: '3.5'

In [20]:
numbers = [1, 2, 3, 4]
numbers.index(100)

ValueError: 100 is not in list

In [21]:
numbers[100]

IndexError: list index out of range

In [23]:
my_dict = {
    'apple': '사과'
    'banana'  '바나나',
}

In [24]:
my_dict['melon']

KeyError: 'melon'

In [25]:
import asdf

ModuleNotFoundError: No module named 'asdf'

In [27]:
while True:
    continue
#무한 반복

KeyboardInterrupt:

### 3. 예외처리


    try:
        code
    except 예외:
        code

In [29]:
try:
    num = int(input('숫자를 입력해주세요 : '))
    print(f'{num}의 세제곱은 {num*3}입니다.')
except ValueError:
    print('숫자를 입력하세요!!!!')

숫자를 입력해주세요 :  asdf

숫자를 입력하세요!!!!

In [32]:
try:
    num = input('나눌값을 입력해주세요')
    print(f'100을 {num}으로 나누면 {100/num}입니다.')
except ValueError:
    print('입력한 정보는 숫자가 아닙니다.')
except ZeroDivisionError:
    print('수학적으로 0으로 나눌수 없습니다.')

나눌값을 입력해주세요 1

문제발생

In [33]:
try:
    my_list = []
    print(my_list[10])
except IndexError as err:
    print('범위가 문제있어요')
    print(err)

범위가 문제있어요
list index out of range

In [34]:
# else => 예외를 일으키지 않을 때 실행되는 코드
try:
    numbers = [1, 2, 3]
    num = number[1]
except:
    print('오류발생')
else:
    print(num * 100)

오류발생

In [37]:
#finally => 예외의 발생 여부와 상관없이 최종적으로 무조건 실행하는 코드
try:
    info = {
        'name': 'kim',
        'location': 'seoul',
    }
    info['phone']
except:
    print('없는 키입니다.')
finally:
    print('hello')

없는 키입니다.
hello

In [38]:
# 예외를 강제로 발생시키는 상황에서 사용
raise

RuntimeError: No active exception to reraise

In [42]:
# 연습
def my_div(num1, num2):
    try:
        result = num1 / num2
    except ZeroDivisionError:
        print('0으로 나눌수 없습니다.')
    except:
        print('숫자를 넣어야 합니다.')
    else:
        return result

print(my_div(5, 0))
print(my_div('5', '0'))
print(my_div(5, 2))

0으로 나눌수 없습니다.
None
숫자를 넣어야 합니다.
None
2.5